<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'TVImagesIoT' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>25673d71-da3d-45b2-ac05-7fe0cbd6769f</InstrumentationKey>
</ApplicationInsights>